# Rust build artifacts
target/
**/*.rs.bk

# Cargo config
.cargo/
.cargotest/

# IDE/editor
.vscode/
.idea/
*.swp

# Ignore input files in any AOC project src folder
**/src/input.txt
**/src/input_test.txt